.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white-line {
  width: 100vw; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  position: relative;
}

.gray-box {
  width: 44vw;
  height: 39.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECECEC;
  border-radius: 12px;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 3vh;
}


.blue-box {
  width: 46.5vw;
  height: 51.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D6E6F5;
  border-radius: 15px;
  flex-direction: column;
}

.hang {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-name {
  font-size: 17px;
  font-family: "";
  color: #8A8A8A;
  width: 35vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  position: relative;
  background-color: white;
}
.login-gray {
  color: black;
  text-decoration: none;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'SUIT';
  font-weight: 500;

}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 55vw; 
  height: 25vh;
}

.close-button {
  top: 1vh;
  right: 1.5vh;
  border: none;
  font-size: 20px;
  background-color: transparent;
  z-index: 100; 

}
.custom-scrollbar {
  max-height: 15vh;
  overflow-y: auto;

  scrollbar-gutter: stable; 
  padding-right: 10px;
  box-sizing: content-box; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; 
}


.square-button {
  width: 7.5vw; 
  height: 13vh;
  color: white; 
  border: none; 
  border-radius: 10px;
  font-size: 13px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s ease;

}

.square-button:hover {
  background-color: #ECECEC !important;
}
