.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white-line {
  width: 100vw; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  position: relative;
}

.gray-box {
  width: 44vw;
  height: 39.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECECEC;
  border-radius: 12px;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 3vh;
}


.blue-box {
  width: 46.5vw;
  height: 51.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D6E6F5;
  border-radius: 15px;
  flex-direction: column;
}

.hang {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-name {
  font-size: 17px;
  font-family: "";
  color: #8A8A8A;
  width: 35vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  position: relative;
  background-color: white;
}
.login-gray {
  color: black;
  text-decoration: none;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'SUIT';
  font-weight: 500;

}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 55vw; 
  height: 25vh;
}

.close-button {
  top: 1vh;
  right: 1.5vh;
  border: none;
  font-size: 20px;
  background-color: transparent;
  z-index: 100; 

}
.custom-scrollbar {
  max-height: 15vh;
  overflow-y: auto;

  scrollbar-gutter: stable; 
  padding-right: 10px;
  box-sizing: content-box; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}


.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* 스크롤 thumb 색상 */
  border-radius: 10px; /* thumb의 둥근 모서리 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* 스크롤 트랙 색상 */
  border-radius: 10px; /* 트랙의 둥근 모서리 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* hover 시 thumb 색상 */
}

.square-button {
  width: 7.5vw; 
  height: 13vh;
  color: white; 
  border: none; 
  border-radius: 10px;
  font-size: 13px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s ease;

}

.square-button:hover {
  background-color: #ECECEC !important;
}
.file-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}


.file-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 정렬 */
  gap: 1vw;
  width: 76vw;
  overflow-y: auto;
  padding: 1vw;
}

.file-item {
  background: #f0f0f0;
  padding: 15px;
  width: 20vw;
  height: 20vh;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.file-icon {
  font-size: 30px;
  display: block;
  margin-bottom: 5px;
}


.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #D6E6F5; /* 슬라이드 색상 */
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.toggle-button {
  flex: 1;
  z-index: 1;
  padding: 0.8vw 1vw;
  color: white;
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.active {
  color: black;
}
.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #D6E6F5;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.custom-file-upload:hover {
  background-color: #d9d9d9;
}

input[type="file"] {
  display: none;
}
